<div>
  <h1 align="center" class="about">About me</h1>
  <div class="aboutContent">
    <div align="center" class="aboutImg">
      <img src="../img/1.png" />
    </div>
    <p class="aboutText">Hello! My name is Vladislav. I am studying at the 3rd year of the Volgograd State Technical University at the Faculty of Electronics and Computer Engineering. After graduation, I will be a young specialist in computer technology, but now I'm interested in developing sites and mobile applications. Programming languages and frameworks with which I develop products: <span>C/C++, Qt, Javascript, Node js, AngularJS, MongoDB, MySQL, php, HTML5, CSS3, C#, Xamarin forms, Java, Android Studio</span>. My goal at the moment to evolve every day, so I want to take the most interesting tasks and solve them. If you have any questions, please <a href="#!/Contacts">contact me</a>, I will be happy to answer all.</p>
  </div>

</div>
