<div class="content">
  <div class="blog">
    <div class="blog-news" style="width: 300px; height: 200px; background-color: #444">
      <div class="descr1">
        About me
      </div>
      <div class="descr2">
        <a href="#!/About">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
      </div>
    </div>
    <div class="blog-news" style="width: 300px; height: 200px; background-color: #999">
      <div class="descr1">
        Portfolio
      </div>
      <div class="descr2">
        <a href="#!/Portfolio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
      </div>
    </div>
    <div class="blog-news" style="width: 300px; height: 200px; background-color: #444">
      <div class="descr1">
        Contacts
      </div>
      <div class="descr2">
        <a href="#!/Contacts">
          <ul style="padding: 0;">
            <li>E-mail: vlad_24_9898@mail.ru</li>
            <li>Telegram: +79177273912</li>
            <li>VKontakte: <a href="https://vk.com/id141308375" target="_blank">id141308375</a> </li>
            <li>Github: <a href="https://github.com/smirnoff410" target="_blank">smirnoff410</a></li>
            <li>Skype: vecbr98</li>
            <li>Instagram: <a href="https://www.instagram.com/smirnoff410/" target="_blank">smirnoff410</a</li>
          </ul>
        </a>
      </div>
    </div>
    <div class="blog-news" style="width: 300px; height: 200px; background-color: #999">
      <div class="descr1">
        <span>News</span>
      </div>
      <div class="descr2">
        <a href="http://edition.cnn.com/2017/07/26/politics/north-korea-us-intelligence-launch-missile-2018/index.html" target="_blank">
          <div class="Caption">
            <span>US: North Korea could launch nuclear-capable missile by next year</span>
          </div>
          <div class="descr3">
            Washington (CNN)The US believes that North Korea will be able to launch a reliable nuclear-capable intercontinental ballistic missile (ICBM) by early 2018, a US official familiar with the latest intelligence assessment confirmed to CNN Wednesday.
That would be an acceleration of two years from previous estimates that put Pyongyang three to five years from fully developing long-range missile capabilities.....
          </div>
        </a>
      </div>
    </div>
    <div class="blog-news" style="width: 300px; height: 200px; background-color: #444">
      <div class="descr1">
        News
      </div>
      <div class="descr2">
        <a href="http://edition.cnn.com/2017/07/26/opinions/russia-sanctions-connolly-opinion/index.html" target="_blank">
          <div class="Caption">
            <span>Russia has waited three years for a way to divide the West</span>
          </div>
          <div class="descr3">
            (CNN)Since the annexation of Crimea in March 2014 and the subsequent involvement of Russia in the conflict in eastern Ukraine, Western powers -- led by the United States and European Union -- have been remarkably firm in maintaining a united front when it came to the hard business of dealing with Russia.
This was nowhere more notable than in the West's use of economic statecraft as the primary tool in exerting pressure.....
          </div>
        </a>
      </div>
    </div>
    <div class="blog-news" style="width: 300px; height: 200px; background-color: #999">
      <div class="descr1">
        News
      </div>
      <div class="descr2">
        <a href="#">
          <div class="Caption">
            <span>Rolling Stone takes on Trump with Trudeau cover </span>
          </div>
          <div class="descr3">
            That's the question Rolling Stone magazine is asking with its new cover story featuring Justin Trudeau.
The publication tweeted out the cover photo of Canada's prime minister on Wednesday and posted a link to the feature story written by Stephen Rodrick.....
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
