<div class="contentHome">
  <h1>Home Page</h1>
  <ul>
    <li>
      <span class="descr">
        <p>About me</p>
        <a class="btn blue" href="#!/About">About me</a>
      </span>
      <img src="../img/about.jpg" />
    </li>
    <li>
      <span class="descr">
        <p>Portfolio</p>
        <a class="btn blue" href="#!/Portfolio">Portfolio</a>
      </span>
      <img src="../img/portfolio.png" /></li>
    <li>
      <span class="descr">
        <p>Contacts</p>
        <a class="btn blue" href="#!/Contacts">Contacts</a>
      </span>
      <img src="../img/contacts.jpg" /></li>
    <li>
      <span class="descr">
        <p>News</p>
        <p class="descr1">Democrats say they're ready for a culture war as Trump bans transgender people from military service</p>
        <a class="btn blue" href="http://edition.cnn.com/2017/07/27/politics/trump-transgender-military-ban-politics/index.html" target="_blank">Read more</a>
      </span>
      <img src="../img/news.jpg" /></li>
    <li>
      <span class="descr">
        <p>News</p>
        <p class="descr1">Travel secrets of tech execs</p>
        <a class="btn blue" href="http://money.cnn.com/2015/08/28/technology/away-tech-execs-travel-secrets/index.html" target="_blank">Read more</a>
      </span>
      <img src="../img/news.jpg" /></li>
    <li>
      <span class="descr">
        <p>News</p>
        <p class="descr1">Scaramucci: 'If Reince wants to explain he's not a leaker, let him do that'</p>
        <a class="btn blue" href="http://edition.cnn.com/2017/07/27/politics/anthony-scaramucci-reince-priebus/index.html" target="_blank">Read more</a>
      </span>
      <img src="../img/news.jpg" /></li>
  </ul>
</div>
