<div>
  <h1 class="about" align="center">Portfolio</h1>
  <div class="gallery">
    <h3><a href="#!/" >This site.</a> <span style="color: #2c32d6;">HTML5, CSS3, node js, AngularJS.<span></h3>
    <a class="image-link" href="../img/thisSite2.png"><img style="margin: 5px; width: 400px;" src="../img/thisSite2.png" /></a>
    <a class="image-link" href="../img/thisSite1.png"><img style="margin: 5px; width: 400px;" src="../img/thisSite1.png" /></a>
    <a class="image-link" href="../img/thisSite3.png"><img style="margin: 5px; width: 400px;" src="../img/thisSite3.png" /></a>
  </div>
</div>
