body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.panel {
  background-color: #000;
}

.panel ul li a {
  color: #fff;
  font-size: 20px;
}

#header {
  background: #111;
  width: 100%;
  height: 50px;
  position: fixed;
}

.menu-link {
  display: none;
  color: #fff;
  margin-left: 30px;
}

.menu {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  color: #fff;
}

.menu a {
  color: #fff;
}

#menu {
  background: #fff;
}

#menu ul li a {
  color: #000;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.blog {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 15px;
}

.blog-news {
  flex: 1 1 400px;
}

.descr1 {
  text-align: center;
  color: #fff;
}

.descr2 {
  margin: 5px;
  text-align: center;
  color: #fff;
}

.descr2 a {
  color: #fff;
}

.descr2 a:hover {
  color: #fff;
}

.Caption {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.descr3 {
  font-size: 15px;
  margin-top: 5px;
}

footer {
  height: 300px;
  width: 100%;
  background-color: #111;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-text a {
  margin: 30px;
  font-size: 20px;
  color: #fff;
}

.icon-socials {
  padding: 40px;
}

.icon-socials i {
  padding: 30px;
  font-size: 36px;
}

.icon-socials a {
  color: #555;
}

footer p {
  color: #222;
  padding: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

/*About page*/
.about {
  font-size: 56px;
}

.aboutContent {
  display: flex;
  flex-direction: row;
}

.aboutText {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

.aboutImg img {
  width: 200px;
  margin: 5px;
}

/*=================*/

/*Contacts page*/
.contactsPage li {
  font-size: 24px;
}

.contactsPage li a {
  color: #000;
}

/**/


@media (max-width: 800px) {
  .menu {
    opacity: 0;
  }
  .menu-link {
    display: inline-block;
  }
}
